

.bg-device {
    box-sizing: content-box !important;
    width: 40px;
    height: 40px;
}



.bg-device:hover{
    background-color: #D3D4D6 !important;
    width: 40px;
    height: 40px;
}

.device-item--active {
    .bg-device{
        background-color: #D3D4D6 !important;
        width: 40px;
        height: 40px;
    }
}

.device-list {
    li {
        input:checked + label {
            box-shadow: 0px 0px 0px 4px #A3A4A6 ;
            transition: 0.1s all ease;
            background-color: #D3D4D6 !important;
        } 
    }
}


.device-list {
    li {
        input:focus + label {
            box-shadow: 0px 0px 0px 4px #A3A4A6 ;
            transition: 0.1s all ease;
            background-color: #D3D4D6 !important;
        } 
    }
}